# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/


Classwork/05192014/STATUS/STTwitter/STTwitter/

Classwork/05202014/TwitterPost/STTwitter/

Classwork/04152014/DrawLinesApp2/DrawLinesApp.xcodeproj/xcuserdata/Jisha.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Applications/03302014/Fun App/

Applications/04172014/BrickBreaker/Move/

Applications/05022014/HueSaturationBrightness/

Applications/05072014/OneNightStand/OneNightStand/

Applications/05082014/AudioList/AudioList/

Applications/05082014/AudioList/ALAiPadTableViewCell.h

Applications/05192014/STATUS/STTwitter/STTwitter/

Applications/05202014/TwitterPost/STTwitter/

Applications/ParseStarterProject 2/build/Debug-iphonesimulator/ParseStarterProject.app/Default-568h@2x.png

Supplement/Move/

Supplement/STTwitter/STTwitter/
